html, body {
    min-width: 100vw;
    min-width: 100dvh;
    min-height: 100vh;
    min-height: 100dvh;
    font-family: sans-serif;
    
}

body {
    display: grid;
    grid-template-rows: 1fr auto;

}

header {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.header-container {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 20px;
    margin: 0px 27px;
    height: 75px;
}

.logo-container {
    display: grid;
    place-items: center;
    margin: 0px 25px;
    color: #333;
}

#hello-h1 {
    
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-size: 18px;
    width: 50%;
    padding: 10px;
}

ul li {
    margin: auto;
}

ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

#contact-button {
    height: 50px;
    width: 100px;
    border-radius: 40px;
    font-weight: bold;
}

main {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.main-section-1 {
    display: grid;
    grid-template-rows: 75% 25%;
    margin-top: 115px;
    height: 75dvh;
}

.section-1-1 {
    display: grid;
    place-items: center;
}

#intro-container {
    width: 25dvw;
    padding: 50px;
}

#hello-h2 {
    font-size: 50px;
    margin: 0;
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
  
#intro-paragrph {
    padding: 0;
    margin: 0;
}



.see {
    background-color: blue;
}

.bord {
    border: 5px red solid;
}

